<h1>Eat-Da-Burger!</h1>


<24>Enter a burger you want to eat and click the "Submit" button</h4>
<form class="create-form">

  <div class="form-group">
    <label for="burger"></label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Submit</button>
</form>


<ul>
  {{#each burgers}}
  {{/each}}
</ul>