<h1>Eat-Da-Burger!</h1>

<img src="./assets/img/burger.png"/>

<h4>Enter a burger you want to eat and click the "Submit" button</h4>
<form class="create-form">

  <div class="form-group">
    <label for="burger"></label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Submit</button>
</form>

<h2>Burgers to eat...</h2>

<ul>
  {{#each burgers}}
  {{/each}}
</ul>

{{!-- <button type="submit">Devour it!</button>
 --}}
<h2>Burgers devoured...</h2>