<h1>Eat-Da-Burger!</h1>

<img src="./assets/img/burger.png"/>

<h4>Enter a burger you want to eat and click the "Submit" button</h4>
<form class="create-form">

  <div class="form-group">
    <label for="burger"></label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Submit</button>
</form>

<div class="toEat">
	<h2>Burgers to eat...</h2>

		<ul>
  			{{#each burgers}}
  				{{#unless devoured}}
  					<li>
  						<input placeholder="{{this.burger_name}}" type="text"><button class="devour-button" data-id="{{this.id}}">Devour It!</button>
  					</li>
  				{{/unless}}
  			{{/each}}
		</ul>
</div>
{{!-- <button type="submit">Devour it!</button>
 --}}

<div class="devoured">
	<h2>Burgers devoured...</h2>

		<ul>
 			{{#each burgers}}
  				{{#if devoured}}
  					<li>
  						<input placeholder="{{this.burger_name}}" type="text">
  					</li>
  				{{/if}}
  			{{/each}}
		</ul>
</div>