/*li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
*/

body {
	background-color: #dfc12a;
}

img {
	height: : 100px;
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
/*	width: 30%;*/
}

h4, h1 {
	text-align: center;
}

#burger, button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.toEat {
	float: left;
	padding-left: 200px;
	text-align: center;
}

.devoured {
	float: right;
	padding-right: 200px;
	text-align: center;
}